@model RecepecionMSW.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <br />
    <br />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)

    <div class="contenedor">
        <form class="col s12">
            <div>
                <nav>
                    <div class="nav-wrapper">
                        <h4 class="brand-logo center">Restablecer contraseña</h4>
                    </div>
                </nav>
                <div class="content_container">
                    <hr />

                    <div class="row">


                        <div class="input-field col s12 ">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                          
                        </div>

                    </div>

                    <div class="row">

                        <div class="input-field col s6">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                        </div>

                        <div class="input-field col s6">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-fiel col s3 right">
                            <div>
                                <button class="btn waves-effect waves-light" id="button-default-down" type="submit" value="Restablecer">
                                    Restablecer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}